<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="content">

  <div class="text-center">

  </div>
  <div class="text-center">
    <pagination-controls id="listing_pagination" maxSize="6" directionLinks="true" previousLabel=""
      nextLabel="" (pageChange)="page = $event">
    </pagination-controls>
  </div>

  <div class="row">
    <div class="col-lg-4" *ngFor="
         let user of users | paginate: {
         id: 'listing_pagination',
         itemsPerPage: 6,
         currentPage: page,
         totalItems: totalUsers }">

      <div class=" text-center card-box">
        <div class="member-card pt-2 pb-2">
          <div class="thumb-lg member-thumb mx-auto">
            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail"
              alt="profile-image">
          </div>
          <div class="">
            <h4>{{user.firstName}} {{user.lastName}}</h4>
            <p class="text-muted">Email <span>| </span>
              <span>
                <span class="text-pink">{{user.email}}</span></span></p>
          </div>
          <button class="btn btn-primary mt-3 btn-rounded" [routerLink]="['/user/profile', user.id]">
            View profileeeee
          </button>
        </div>
      </div>
    </div>
    <div>

    </div>

    <!-- end col -->
  </div>

  <!-- container -->
</div>
