<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" width="200px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end w-100" id="navbarNav">
      <ul class="navbar-nav">
        <button class="header-btn" routerLink="/auth/login" *ngIf="!isLoggedIn()">
          Login
        </button>
        <button class="header-btn" routerLink="/auth/register" *ngIf="!isLoggedIn()">
          Register
        </button>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/profile" *ngIf="isLoggedIn()">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" *ngIf="isLoggedIn()" (click)="logOut()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
