<div class="card">
  <div class="card-header">
    <h1 class="text-muted">Register</h1>
  </div>
  <div class="card-body" *ngIf="!successRegister">

    <div class="alert alert-danger alert-dismissible fade show" role="alert"
         *ngIf="errors.length > 0">
      <span *ngFor="let err of errors">{{err}}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          class="form-control"
          [formControlName]="'email'"
          [ngClass]="{'is-invalid': email.invalid && email.touched}">
        <span *ngIf="email.invalid && email.touched" class="small text-danger">
      <span *ngIf="email.errors.required">Email cannot be empty</span>
      <span *ngIf="email.errors.email">Enter a valid email address</span>
    </span>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
          type="text"
          class="form-control"
          [formControlName]="'password'"
          [ngClass]="{'is-invalid': password.invalid && password.touched}">
        <span *ngIf="password.invalid && password.touched" class="small text-danger">
      <span *ngIf="password.errors.required">Password cannot be empty</span>
      <span *ngIf="password.errors.minlength">Password must be more than 6 characters</span>
    </span>
      </div>

      <div class="form-group">
        <label>First name</label>
        <input
          type="text"
          class="form-control"
          [formControlName]="'firstName'"
          [ngClass]="{'is-invalid': firstName.invalid && firstName.touched}">
        <span *ngIf="firstName.invalid && firstName.touched" class="small text-danger">
      <span *ngIf="firstName.errors.required">First name cannot be empty</span>
    </span>
      </div>

      <div class="form-group">
        <label>Last name</label>
        <input
          type="text"
          class="form-control"
          [formControlName]="'lastName'"
          [ngClass]="{'is-invalid': lastName.invalid && lastName.touched}">
        <span *ngIf="lastName.invalid && lastName.touched" class="small text-danger">
      <span *ngIf="lastName.errors.required">Last name cannot be empty</span>
    </span>
      </div>

      <div class="form-group">
        <button class="btn btn-outline-secondary">Register</button>
      </div>

    </form>
  </div>
  <div class="card-body" *ngIf="successRegister">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Hello {{firstName.value}} {{lastName.value}}</h4>
      <hr>
      <p>Thank you for your registration!</p>
      <p>Please check your email and confirm your email address to complete the registration process.</p>
    </div>
  </div>
</div>

